*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --background:#0000EC;
    --white: #FFFFFF;
    --black: #060A24;
    --agua: #00F3BB;
    --active: rgba(6,10,36,0.56);
}
img{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body,html{
    overflow-x: hidden;
}
.header{
    padding: 0 16px 0 19px;
    height: 44px;
}
.header__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
    width: 100%;
}
.header__contenedor--imagen{
    width: 24px;
    height: 24px;
}
.header__contenedor--menu{
    position: relative;
}
.header__contenedor--input{
    display: none;
}
.header__contenedor--label{        
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 18px;
    display: block;
}
.header__contenedor--barra,
.header__contenedor--barra::before,
.header__contenedor--barra::after{
    content: '';
    width: 18px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}
.header__contenedor--barra::before{
    top: 4px;
}
.header__contenedor--barra::after{
    top: 8px;
}
.header__contenedor--navegacion{
    position: absolute;
    top: 25px;
    left: 40px;
    transition: all 0.5s ease-in-out;
}
.header__contenedor--navegacion{
    width: 100vw;
}
.header__contenedor--navegacion li{
    padding: 12px 217px 12px 19px;
    background-color: var(--background);
}
.header__contenedor--navegacion a{
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--white);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
}
.header__contenedor--input:checked ~ .header__contenedor--navegacion{
    transition: all 0.5s ease-in-out;
    left: calc(-100vw + 34px);
}
.header__contenedor--input:checked ~ label > .header__contenedor--barra{
    transform: translateY(5px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.header__contenedor--input:checked ~ label > .header__contenedor--barra::after{
    transform: translateY(-8px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.header__contenedor--input:checked ~ label > .header__contenedor--barra::before{
    transform: translateY(-13px) rotate(90deg);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.header__contenedor--navegacion a:active{
    color: var(--active);
    text-decoration: line-through;
}
.header__contenedor--navegacion a:hover{
    color: var(--agua);
    text-decoration: line-through;
}
.main{
    padding: 29px 16px;
    margin-top: 44px;
}
.main__contenedor h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 222px;
}
.main__contenedor p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 36px;
}
.main__contenedor span{
    color: var(--background);
}
.main__contenedor a{
    text-decoration: none;
}
.main__contenedor--boton{
    background-color: var(--agua);
    padding: 13px 0;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    color: var(--black);
    line-height: 22px;
    margin-bottom: 24px;
}
.article__contenedor{
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%);
    padding: 90px 16px 150px 16px;
}
.article__contenedor h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    color: var(--white);
    margin-bottom: 21px;
}
.article__contenedor--podcast div{
    margin-bottom: 7px;
}
.article__contenedor--podcast div:last-child{
    margin: 0;
}
.div__contenedor__venimos{
    position: relative;
    top: -156px;
    text-align: center;
}
.div__contenedor__venimos--texto{
    text-align: left;
}
.div__contenedor__venimos--texto h2,
.section__contenedor__invitadas h2,
.section__temas h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 42px;
    margin: 27px 0 8px 0;
}
.div__contenedor__venimos--texto p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    color: var(--black);
    letter-spacing: 0;
    line-height: 22px;
}
.div__contenedor__venimos--texto p:last-child{
    margin-top: 15px;
}
.section__contenedor__invitadas--imagenes figure{
    display: grid;
}
.section__contenedor__invitadas{
    margin-top: -156px;
}
.section__contenedor__invitadas h2{
    padding: 0 16px;
}
.section__temas--iconos{
    text-align: center;
}
.section__temas--iconos figure{
    margin-top: 24px;
}
.section__temas--iconos figure:nth-child(2),
.section__temas--iconos figure:nth-child(3),
.section__temas--iconos figure:nth-child(4){
    margin-top: 36px;
}
.section__temas--iconos figure > img{
    width: 104px;
}
.section__temas--iconos figure > figcaption{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: var(--black);
    letter-spacing: 0;
    font-weight: 600;
    margin: 13px auto 52px;
    width: 288px;
}
.section__temas--iconos figure:last-child > figcaption{
    margin-bottom: 0;
}
.footer__contenedor--novedades{
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 35%);
    padding: 70px 16px 40px 16px;
    margin-top: 13px;
}
.footer__contenedor--novedades p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: var(--white);
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    margin-bottom: 36px;
}
.footer__contenedor--novedades a{
    text-decoration: none;
}
.footer__contenedor--iconos{
    text-align: center;
    padding: 0px 0px;
    margin: auto;
    max-width: 300px;
}
.footer__contenedor--iconos p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 24px;
    text-align: center;
}
.footer__contenedor--figure{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 31px;
}
.footer__contenedor--figure figure{
    width: 20px;
}
.footer__contenedor--iconos figure a > img:hover{
    filter: invert(75%) sepia(88%) saturate(1807%) hue-rotate(110deg) brightness(96%) contrast(102%);    
}
@media screen and (min-width:768px){
    .main__contenedor{
        padding: 60px 16px 0;
    }
    .main__contenedor h1{
        font-size: 50px;
        max-width: 100%;
    }
    .main__contenedor p{
        margin-bottom: 56px;
        width: 70%;
        font-size: 16px;
    }
    .main__contenedor--boton{
        display: inline-block;
        padding: 13px 96px;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .main{
        margin-top: 0;
    }
    .header__contenedor{
        position: static;
    }
    .header__contenedor--label{
        display: none;
    }
    .header__contenedor--navegacion{
        position: static;
        width: 525px;
    }
    .header__contenedor--navegacion ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 615px;
    }
    .header__contenedor--navegacion li{
        border: none;
        margin-right: 48px;
        padding: 0;
        background-color: var(--white);
        height: 24px;
    }
    .header__contenedor--navegacion ul li > a{
        text-transform: uppercase;
        color: var(--black);
        font-weight: 200;
    }
    .header__contenedor--navegacion ul li > a:hover{
        color: var(--agua);
        text-decoration: line-through;
    }
    .header__contenedor--navegacion ul li > a:active{
        color: var(--active);
        text-decoration: line-through;
    }
    .article__contenedor {
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
        padding: 120px 16px 110px 16px;
    }
    .article__contenedor--podcast{
        column-gap: 60px;
        row-gap: 30px;
    }
    .div__contenedor__venimos{
        display: flex;
        justify-content: center;
        padding-bottom: 64px;
        top: -122px;
    }
    .div__contenedor__venimos--texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 42%;
        margin-left: 16px;
    }
    .div__contenedor__venimos--texto h2{
        margin-bottom: 24px;
        margin-top: 0;
    }
    .div__contenedor__venimos img{
        width: 40%;
    }
    .section__contenedor__invitadas--imagenes,
    .section__temas--iconos,
    .article__contenedor--podcast{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section__contenedor__invitadas h2,
    .section__temas h2{
        padding-left: 50px;
        font-size: 40px;
    }
    .section__contenedor__invitadas h2{
        margin-bottom: 36px;
    }
    .section__temas h2{
        margin-bottom: 56px;
        margin-top: 35px;
    }
    .section__temas{
        padding-bottom: 0;
    }
    .section__temas--iconos figure:first-child,
    .section__temas--iconos figure:nth-child(2),
    .section__temas--iconos figure:nth-child(3),
    .section__temas--iconos figure:last-child{
        margin-top: 0;
    }
    .section__temas--iconos figure > figcaption{
        margin: 29px auto ;
    }
    .footer__contenedor--novedades{
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        padding: 170px 16px 100px 16px;
        margin-top: 34px;
        text-align: center;
    }
    .footer__contenedor--iconos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 16px; 
        max-width: 100%;
        height: 95px;
    }
    .footer__contenedor--iconos p,
    .footer__contenedor--figure{
        margin: 0;
        padding: 0;
    }
    .footer__contenedor--figure{
        width: 214px;
        justify-content: space-between;
        height: 22px;
    }
    .footer__contenedor--novedades .main__contenedor--boton{
        padding: 13px 59px;
    }
}
@media screen and (min-width:1024px){
    .header__contenedor{
        height: 80px;
    }
    .header__contenedor--imagen img{
        width: 36px;
        height: 36px;
    }
    .header{
        padding: 0 50px;
    }
    .main__contenedor{
        padding: 120px 50px 0 50px;
    }
    .main__contenedor h1{
        font-size: 64px;
        max-width: 100%;
    }
    .main__contenedor p{
        width: 69%;
    }
    .main__contenedor--boton:hover{
        background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: var(--white);
    }
    .div__contenedor__venimos{
        padding: 29px 0 64px 0;
    }
    .div__contenedor__venimos--texto p{
        width: 93%;
    }
    .article__contenedor{
        padding: 140px 16px 140px 16px;
        clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
    }
    .article__contenedor h2{
        padding-left: 34px;
        font-size: 40px;
    }
    .footer__contenedor--novedades{
        clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
        padding: 170px 16px 100px 16px;
    }
    .footer__contenedor--novedades p{
        font-size: 48px;
    }
}
@media screen and (min-width:1200px){
    .header{
        padding: 0 100px;
    }
    .main__contenedor{
        padding: 120px 200px 0 200px;
    }
    .section__contenedor__invitadas--imagenes{
        grid-template-columns: repeat(3, 1fr);
    }
    .article__contenedor h2,
    .section__contenedor__invitadas h2,
    .section__temas h2{
        padding-left: 184px;
        font-size: 48px;
    }
    .article__contenedor--podcast{
        padding: 0 84px;
    }
    .div__contenedor__venimos--texto h2{
        font-size: 48px;
    }
    .div__contenedor__venimos--texto p{
        line-height: 24px;
        font-size: 16px;
    }
    .section__temas--iconos{
        display: flex;
        justify-content: space-evenly;
        margin-left: 13%;
        margin-right: 13%;
    }
    .section__temas--iconos figure,
    .section__temas--iconos figure figcaption{
        width: 230px;
    }
}
@media screen and (min-width:1400px){
    .div__contenedor__venimos {
        padding: 64px 200px;
    }
    .section__temas--iconos{
        margin-left: 15%;
        margin-right: 15%;
    }
    .footer__contenedor--novedades{
        clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
        padding: 213px 16px 151px 16px;
    }
}